<app-loader [isLoading]="isLoading" size="1.5"></app-loader>

<div *ngIf="hotels == null">
  <ng-container *ngIf="(infinite | async) as hotels">
    <cdk-virtual-scroll-viewport itemSize="100" (scrolledIndexChange)="nextBatch($event, [hotels.length - 1])">
      <mat-card
        *cdkVirtualFor="let p of hotels; let i = index; trackBy: trackByIdx"
        class="animated fadeInUp cardHotels"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="2.0%"
        fxLayoutAlign="flex-start"
      >
        <img mat-card-image src="assets/images/hotels/{{ p.image }}" fxFlex="35%" />
        <mat-card-content fxFlex="40%">
          <mat-card-title> {{ p.name }}</mat-card-title>
          <div class="tbl-op" role="toolbar">
            <ul class="fa-ul">
              <li *ngFor="let star of arrayOne(p.stars); let x = index" class="fa-li">
                <img class="svg" src="../assets/icons/filters/star.svg" />
              </li>
            </ul>
            <ul class="fa-ul">
              <li *ngFor="let am of p.amenities" class="fa-li">
                <img class="svgam" src="../assets/icons/amenities/{{ am }}.svg" />
              </li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-content class="content-price" fxFlex="25%">
          <mat-card-title> Precio por noche por habitación </mat-card-title>
          <h3 class="label-price">ARS: {{ p.price }}</h3>
          <button mat-raised-button>Ver hotel</button>
        </mat-card-content>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</div>
