@import "../shared/components/hotel-list/hotel-list.component";
.container-fluid {
  padding: 0.5em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.svg {
  width: 20px;
  filter: invert(0.3) sepia(1) hue-rotate(170deg) saturate(6);
}

mat-panel-title {
  color: #077ab2;
  font-weight: bold;
}

.svgiterate {
  width: 20px;

  filter: invert(0.5) sepia(1) saturate(5);
}
